@charset "utf-8";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* hr {
  margin: 30px 0px 20px 0px;
  border-top: 1px solid rgba(194, 184, 36, 0.288);
  border-bottom: none;
}

.dog {
  margin: 0px 10px 0px 10px;
  background-color: rgb(255, 255, 255);
}

.dogHeader {
  margin-bottom: 10px;
  background-color: rgb(226, 201, 55);
  color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  font-size: 40px;
  text-align: center;
}

.dogTop__content {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dogTop__content--overview {
  margin: 0px;
  min-width: 50%;
  max-width: 50%;
  font-size: 15px;
  color: rgb(63, 63, 63);
  text-align: center;
}

.dogTop__content--main {
  margin: 0px;
  max-width: 50%;
}

.dog__img--top {
  display: inline-flex;
  width: 100%;
  max-height: 500px;
}

.dog__img--breeds {
  display: inline-flex;
  width: 250px;
  height: 250px;
  margin: 5px;
}

.dog__img {
  width: 100%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

.dog__content--button {
  display: block;
  width: 150px;
  height: 40px;
  margin-left: auto;
  margin-top: 10px;
  font-size: 18px;
  border-radius: 6px;
  border-style: none;
  background-color: rgb(226, 201, 55);
  color: rgb(255, 255, 255);
}

.dog__content--button:hover {
  background-color: rgb(194, 184, 36);
  color: rgb(206, 206, 206);
  cursor: pointer;
}

.dogBreeds__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dogBreeds__content--images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.dogBreeds__select {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dogBreeds__select p {
  width: 50%;
  font-size: 15px;
  margin-right: 5px;
  vertical-align: middle;
  text-align: right;
}
.dogBreeds__select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  height: 40px;
  padding-left: 15px;
  border: 0;
  border-radius: 6px;
  background: rgb(226, 201, 55);
  color: rgb(255, 255, 255);
}

.dogBreeds__content--button {
  display: block;
  width: 150px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  border-radius: 6px;
  border-style: none;
  background-color: rgb(226, 201, 55);
  color: rgb(255, 255, 255);
}

.dogBreeds__content--button:hover {
  background-color: rgb(194, 184, 36);
  color: rgb(206, 206, 206);
  cursor: pointer;
} */
