@charset "utf-8";

p {
    text-align: center;
}

.dog__header {
    background-color: rgb(226, 201, 55);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    height: auto;
    font-size: 40px;
    text-align: center;
}

.dog__overview {
    font-size: 20px;
    color: rgb(63, 63, 63);
}

.dog__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dog__img {
    max-width: 80%;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.dog__button {
    width: 200px;
    height: 40px;
    font-size: 18px;
    border-radius: 6px;
    border-style: none;
    background-color:rgb(226, 201, 55);
    color: rgb(255, 255, 255);
}

.dog__button:hover {
    background-color:rgb(194, 184, 36);
    color: rgb(206, 206, 206);
    cursor:pointer;
}