@charset "utf-8";

* {
    margin: 2px;
}

p {
    text-align: center;
}

.dog {
    background-color: rgb(255, 255, 255);
}

.dog__header {
    background-color: rgb(226, 201, 55);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    height: auto;
    font-size: 40px;
    text-align: center;
}

.dog__overview {
    font-size: 20px;
    color: rgb(63, 63, 63);
}

.dog__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dog__img {
    max-width: 80%;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.dog__button {
    width: 200px;
    height: 40px;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 6px;
    border-style: none;
    background-color:rgb(226, 201, 55);
    color: rgb(255, 255, 255);
}

.dog__button:hover {
    background-color:rgb(194, 184, 36);
    color: rgb(206, 206, 206);
    cursor:pointer;
}

.dog__select__breeds {
    margin-top: 20px;
    position: relative;
    display: flex;
    margin-bottom: 15px;
    width: 25%;
    justify-content: center;
    align-items: center;
}
.dog__select__breeds select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: rgb(226, 201, 55);
    color: rgb(255, 255, 255);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.dog__select__breeds select::-ms-expand {
    display: none;
}
.dog__select__breeds select:hover, .dog__select__breeds select:focus {
    color: rgb(206, 206, 206);
    background: rgb(194, 184, 36);
}
.dog__select__breeds select:disabled {
    opacity: 0.5;
    pointer-events: none;
}
.select__arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: white transparent transparent transparent;
}
.dog__select__breeds select:hover ~ .select__arrow, .dog__select__breeds select:focus ~ .select__arrow {
    border-top-color:rgb(206, 206, 206);
}